{% extends 'inc/nav.html' %}
{% block title %}
Index Page
{% endblock title %}


{% block content %}
{% include 'inc/slider.html' %}
<div class="row">
    {% for items in author %}

    <div class="col-md-4">
        <img src="....." class="card-img-top" alt="...">
        <div class="">
            <h5 class="card-title">{{items.name}}</h5>
            <h6 class="card-title">{{items.active_date}}</h6>
            <h6 class="card-subtitle">{{items.penname}}</h6>
            <p class="card-text">{{items.age}}</p>
            <a href="#" class="btn btn-primary">{{items.journal}}</a>
        </div>
    </div>
    {% endfor%}
</div>



{% endblock content %}